/* 
* @Author: bk
* @Date:   2017-02-20 12:12:23
* @Last Modified by:   bk
* @Last Modified time: 2017-02-21 10:02:51
*/
 .content .music-lside .singers-in{
	padding:9px 20px 0;
    }
 .content .music-lside .singers-in .title{

 }
 .content .music-lside .singers-in .title h2{
 	float: left;
 }
 .singers-in .title a{
 	float: right;
 }
 .content .music-lside .singers-in .s-page{
 	padding-top:6px;
 }
 .content .music-lside .singers-in .s-page dl{
 	marg-top:14px;
 }
 .content .music-lside .singers-in .s-page dl dt{
 	float: left;
 }
.content .music-lside .singers-in .s-page dl dt a{
 	display:block;
 	width: 211px;
 }
 .content .music-lside .singers-in .s-page dl dt a img{
 	float: left;
 }
 .content .music-lside .singers-in .s-page dl dt a h2,.singers-in .s-page dl dt a h3{
 	float: left;
 }
.content .music-lside .singers-in .ap-singer a{
	display: block;
	width: 211px;
	line-height: 28px;
	border:1px solid #c4c4c4;
	border-radius:4px;
}

.content .music-lside .hot-dj .dj-profile{
	overflow: hidden;
}

.content .music-lside .hot-dj .dj-profile ul li img{
	float: left;
}

.content .music-lside .hot-dj .dj-profile ul li .pfe-des{
	float: left;
}
.footer .alone  a{
	display:block;
	width: ;
	height: 35px;
	background:url(images/);
}

.footer .alone  a h2,.footer .alone a p{
	padding-left:42px;
}


.footer p.netease a p{
	position: relative;
  	top:3px;
}
